<html>
    <head>
       <meta charset="utf-8">
       <title>Поиск расписания</title>
    </head>
 <body>
<p><b>Пожалуйста, отметьте группу и день недели, для которых вы хотели бы просмотреть расписание</b></p>

    <p><select form="aform" name="group_form">
    {% for i in groups %}
	<option value="{{ i[0] }}">{{ i[1] }}</option>
    {% endfor %}
	</select></p>
	
    <p><select form="aform" name="day_form">
    {% for i in days %}
	<option value="{{ i[0] }}">{{ i[1] }}</option>
    {% endfor %}
	</select></p>
   
	<p><form id="aform" action="/results">
		<input type="submit" value="Выбрать"/>
	</form></p>
 </body>
 </html>